<ion-view view-title="Sobre">
    <ion-content>
        <div align="center" style="margin-top: 50px;">
            <img style="height: 70px;" src="img/icon.png" alt="">
            <h1>JapaFood App</h1>
            <h2>Centro Universitário</h2>
            <h2>Claretiano</h2>
            <h3>Linguagem de Programação VI</h3>
            <br>
            <h4>Diego Siena Francisco</h4>
            <h4>1115855</h4>
            <br>
            <h4>Luiz Fernando Alves Idalgo</h4>
            <h4>1116818</h4>
        </div>
    </ion-content>
</ion-view>
